.row#adminbox.col-xs-8
  #adminboxcontent.well
    %h4 Add Condition To A Category
    %br
    %ul#addcondition
      =render partial: "condition_form", locals: { condition: @condition, button_name: "Add Condition" }
