.row#userbox.col-xs-8
  #messagescontent.well
    .messages-top
      %h3.text-center
        -if params[:type] =='hits'
          hits
        -elsif params[:type] =='received'
          inbox
        -elsif params[:type] =='sent'
          sent messages
        -else
          all messages
      .hr-xs-solid
      .infinite-messages
        =render(@messages) || "No messages to display."
      =link_to "load more messages", user_messages_path(current_user, type: params[:type], page: @messages.next_page), class: "infinite-load", remote: true if @messages.next_page

