---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=98164&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "98164",
                       "short_name" : "98164",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Central Business District",
                       "short_name" : "Central Business District",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Seattle",
                       "short_name" : "Seattle",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "King County",
                       "short_name" : "King County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Washington",
                       "short_name" : "WA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Seattle, WA 98164, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 47.607265,
                          "lng" : -122.3311479
                       },
                       "southwest" : {
                          "lat" : 47.60537189999999,
                          "lng" : -122.3335642
                       }
                    },
                    "location" : {
                       "lat" : 47.606503,
                       "lng" : -122.3323955
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 47.60766743029149,
                          "lng" : -122.3310070697085
                       },
                       "southwest" : {
                          "lat" : 47.60496946970849,
                          "lng" : -122.3337050302915
                       }
                    }
                 },
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 30 Aug 2014 01:02:54 GMT
[...]
- request:
    method: head
    uri: http://www.google.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=ISO-8859-1
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 30 Aug 2014 01:02:54 GMT
[...]
