-provide(:title, 'Unlist.it')

//Code for the registration form
.row.col-xs-8.col-xs-offset-1.well.generic-content
  %h4 Link Sent!
  %hr

  %p The link to reset your password has been emailed to you.
  %p This link will expire after 2 hours for security.
