.row#userbox.col-sm-8
  #editusercontent.well
    %h2= "Edit #{@user.username.capitalize}'s Account Settings"
    %hr.hr-lg-dashed
    =bootstrap_form_for @user do |f|
      =f.email_field :email,       label: "Default Email:"
      =f.password_field :password, label: "New Password:"
      =f.submit "Save Changes", class: "btn btn-primary"
