-provide(:title, 'Unlist.it')

//Code for the registration form
.row.col-xs-12.col-sm-10.col-md-8.col-xs-offset-1.well#signup-container
  %h3.text-muted
    Sign Up to Join Unlist.it
  %br

  .signup-form
    =bootstrap_form_for @user do |f|
      =f.email_field    :email,           label: "Email Address:"
      =f.password_field :password,        label: "Choose Password:"
      =f.check_box      :termsconditions do
        %span.terms-conditions
          I have read and agree to the
          =link_to "Terms & Conditions", termsandconditions_path, target: '_blank', class: "underlined-link"
      -if @token.present?
        =hidden_field_tag :token, @token
      =f.submit "Sign Up!", class: "btn btn-primary"


