---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=98164&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "98164",
                       "short_name" : "98164",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Central Business District",
                       "short_name" : "Central Business District",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Seattle",
                       "short_name" : "Seattle",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "King County",
                       "short_name" : "King County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Washington",
                       "short_name" : "WA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Seattle, WA 98164, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 47.607265,
                          "lng" : -122.3311479
                       },
                       "southwest" : {
                          "lat" : 47.60537189999999,
                          "lng" : -122.3335642
                       }
                    },
                    "location" : {
                       "lat" : 47.606503,
                       "lng" : -122.3323955
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 47.60766743029149,
                          "lng" : -122.3310070697085
                       },
                       "southwest" : {
                          "lat" : 47.60496946970849,
                          "lng" : -122.3337050302915
                       }
                    }
                 },
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 08 Nov 2014 23:28:27 GMT
[...]
- request:
    method: get
    uri: http://www.google.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=ISO-8859-1
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |-
        <!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="en"><head><meta content="Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for." name="description"><meta content="noodp" name="robots"><meta content="/images/google_favicon_128.png" itemprop="image"><title>Google</title><script>(function(){window.google={kEI:'HKdeVJeZDciGigKEhIC4Cw',kEXPI:'4011559,4016469,4016824,4017579,4017981,4019181,4020347,4020562,4020921,4021341,4021597,4021983,4022318,4022495,4022688,4023367,4023567,4023678,4023972,4023979,4024022,4024701,4024843,4024919,4024932,4024976,4024978,4025080,8500272,8500393,10200083,10200716,10200744',authuser:0,kSID:'HKdeVJeZDciGigKEhIC4Cw'};google.kHL='en';})();(function(){google.lc=[];google.li=0;google.getEI=function(a){for(var b;a&&(!a.getAttribute||!(b=a.getAttr[...]
[...]
