%input(type="text" id="inputSearch" value="")
%button(type="submit" id="searchButton")
  search
%span
  in
  //CREATE INSTEAD A DECORATOR OR MODEL METHOD TO USE THE DATA FROM CATEGORIES TO POPULATE THIS
  %select
    %option(value="Antiques & Collectibles") antiques & collectibles
    %option(value="Autos") autos
    %option(value="Clothing") clothing
    %option(value="Electronics") electronics
    %option(value="Games") games
    %option(value="Household") household
    %option(value="Sports") sports
//=render partial: 'shared/category_dropdown', locals: { categories: categories }
