#quicksearch
  %ul.searchform
    =form_tag search_unposts_path, method: 'post' do
      =text_field_tag :keyword, search_placeholder(@search_string)
      =submit_tag "Search", class: "btn btn-default btn-sm"
      %span
        in
        =select_tag :category_id, options_for_select(category_options)
        //=render partial: 'shared/category_dropdown', locals: { categories: categories }
