.friend-username
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 20px
  // font-weight: bold

.remove-friend-link
  font-size: 12px
  position: relative
  right: 0px
  text-align: right




