---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=98057&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "98057",
                       "short_name" : "98057",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Renton",
                       "short_name" : "Renton",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "King County",
                       "short_name" : "King County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Washington",
                       "short_name" : "WA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Renton, WA 98057, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 47.5213679,
                          "lng" : -122.176127
                       },
                       "southwest" : {
                          "lat" : 47.44097989999999,
                          "lng" : -122.2502559
                       }
                    },
                    "location" : {
                       "lat" : 47.49427379999999,
                       "lng" : -122.2081419
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 47.5213679,
                          "lng" : -122.176127
                       },
                       "southwest" : {
                          "lat" : 47.44097989999999,
                          "lng" : -122.2502559
                       }
                    }
                 },
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 16 Aug 2014 01:57:27 GMT
recorded_with: VCR 2.9.0
