-provide(:title, 'About Us')

// Code for the Unlist.it About Section
#aboutme.row.col-xs-8.col-xs-offset-1.well
  %h2 About Unlist.it (& its founder)
  %br
  %br

  %h4.text-muted About Unlist.it
  %p Unlist.it is a local classifieds site where BUYERS(unlisters) create wanted ads(unlistings) what they're looking for. Instead of buyers searching endlessly to find what they're looking for, Unlist.it empowers BUYERS(unlisters) make unlistings(wanted ads) of they want to BUY. Then Unlist.it helps sellers search for those unlistings to find instant buyers. This helps sellers avoid time posting & managing for-sale ads. Unlist.it provides quick, easy, and direct connections between buyers and sellers. As you use Unlist.it, you'll start to see the potential for creating a more-convenient & more sustainable society.
  %p You'll probably also see that Unlists are like wishlists (think Christmas) that can be used year-round to find out what your friends & family are looking for. This is extremely helpful for gift-giving!
  %br
  %br

  %h4.text-muted About Me (the founder of Unlist.it)
  %p I'm a serial hobbist, a follower of Jesus, and a husband/father who was frustrated by the lack of approaches to find & buy stuff locally. I was spending hours --that I don't have-- trying to find things that I HOPED someone would list for sale. Online classifieds seem like a 1-way street, so after other people shared my frustrations, I decided to create the other side of the street - a site where BUYERS make known what they want to BUY. I'm a Civil Engineer by day, so I took a year of nights/weekeends to learn programming, and with what I learned have built Unlist.it. I hope you will find Unlist.it to be a great resource, a promoter of local community, a step towards sustainable living, and an alleviator of frustrations for us buyers(unlisters) everywhere.
  %br
  %p Thanks & happy unlist-ing.
  %br
  %p -- Clint Nelson, Founder of Unlist.it
