-provide(:title, 'About Us')

// Code for the Unlist.it About Section
#aboutme.row.col-xs-8.col-xs-offset-1.well
  %h2 About Me & Unlist.it
  %br
  %br

  %p I'm not a mega-corporation pumping out software by the droves, I'm just a simple family-man who thinks it should be less work to connect buyers & sellers. With lots of grace from Jesus, I decided to learn how to code web applications so I could build Unlist.it to make finding things a whole lot easier for everyone.
  %br
  %p Thanks & happy unlist-ing.
  %br
  %p -- Clint Nelson, Founder of Unlist.it
