-provide(:title, 'About Us')

// Code for the Unlist.it About Section
#aboutme.row.col-xs-8.col-xs-offset-1.well
  %h2 About Unlist.it (& its founder)
  %br
  %br

  %h4.text-muted About Unlist.it
  %p Unlist.it takes the opposite approach to the typical local-area classified. Instead of you trying to find items for sale, Unlist.it empowers you make unlistings of you want to BUY. Then Unlist works to help sellers find you. This keeps buyers(you!) from having to spend hours searching for items, and helps sellers avoid time posting & managing for-sale ads. Unlist.it provides quick, easy, and direct connections between buyers and sellers. As you use Unlist.it, you'll start to see the potential for creating a more-convenient & more-sustainable society.
  %br
  %br

  %h4.text-muted About Me (the founder of Unlist.it)
  %p I'm not a mega-corporation pumping out software by the droves, I'm just a simple family-man who thinks it should be less work to connect buyers & sellers. With lots of help from Jesus Christ, I decided to learn how to code web applications so I could build Unlist.it and make finding things a whole lot easier for everyone while promoting a more-sustainable world.
  %br
  %p Thanks & happy unlist-ing.
  %br
  %p -- Clint Nelson, Founder of Unlist.it
