-provide(:title, 'About Us')

// Code for the Unlist.it About Section
#aboutme.row.col-xs-8.col-xs-offset-1.well
  %h2 About Unlist.it (& its founder)
  %br
  %br

  %h4.text-muted About Unlist.it
  %p Unlist.it is about "wishlist classifieds" - local classifieds where BUYERS (unlisters) create a wishlist of things they want. Look for anything (anything legal, that is) - no limitations like other web wishlists. This wishlist (called an unlist) can be used year-round to find out what your friends & family are looking for. This is extremely helpful for finding the perfect gift!

  %p Additionally, these unlistings are like reverse-classifieds that outsiders can use to find you & sell you what you're looking for. These outside SELLERS (who have stuff) do the searching to find your ads (unlistings). Sellers can then contact you, the buyer (unlister), to sell you the desired item. Easy. Quick. Simple. Direct.
  %p As you use Unlist.it, you'll start to see the potential for creating a more-convenient & more sustainable society.
  %br
  %br

  %h4.text-muted About Me (the founder of Unlist.it)
  %p I'm a serial hobbist, an aspiring programmer, a follower of Jesus, and a husband/father who was frustrated by the lack of approaches to find & buy stuff locally. I was spending hours --that I don't have-- trying to find things that I HOPED someone would list for sale. Online classifieds seem like a 1-way street, so after other people shared my frustrations, I decided to create the other side of the street - a site where BUYERS make a wishlist of what they want to BUY. I'm a Civil Engineer by day, so I took a year of nights/weekeends to learn programming, and have built Unlist.it with what I learned. I hope you will find Unlist.it to be a useful resource for giving & getting, a promoter of local community, a step towards sustainable living, and an alleviator of frustrations for us buyers(unlisters) everywhere.
  %br
  %p Thanks & happy unlist-ing.
  %br
  %p -- Clint Nelson, Founder of Unlist.it
