-provide(:title, 'Browse')

#browse-title
  %h2 Browse Unlist.it
  %br

  .dropdown
    %a.btn.btn-default.dropdown-toggle.sr-only#browse-categories-dropdown(data-toggle='dropdown')
      Select A Category
      %span.caret
    %ul.dropdown-menu.scrollable-menu(role='menu' aria-labelledby='browseCategoriesMenu')
      -@categories.each do |category|
        %li(role='presentation')
          =link_to "#{category.name}", browse_category_path(category), { role: 'menuitem', tabindex: "-1" }

//-#GOOD CANDIDATE FOR DECORATOR
.row.col-xs-8.well#browse-unlistings
  -if @unlistings.present?
    .infinite-unlistings
      =render @unlistings
    -# Infinite-scrolling
    =link_to "load more unlistings", browse_category_path(@category, page: @unlistings.next_page), class: 'infinite-load', remote: true if @unlistings.next_page
  -elsif !defined?(@unlistings)
    %p Please select a category above.
  -else
    %p Sorry, there are currently no unlistings in that category.

