-provide(:title, 'Browse')

#browse-title
  %h2 Browse Unlist.it
  %br

  .dropdown
    %a.btn.btn-default.dropdown-toggle.sr-only#browse-categories-dropdown(data-toggle='dropdown')
      Select A Category
      %span.caret
    %ul.dropdown-menu(role='menu' aria-labelledby='browseCategoriesMenu')
      -@categories.each do |category|
        %li(role='presentation')
          =link_to "#{category.name}", browse_category_path(category_id: category.id), { role: 'menuitem', tabindex: "-1" }

//-#GOOD CANDIDATE FOR DECORATOR
.row.col-xs-8.well#browse-unlistings
  -if @unlistings.present?
    =render @unlistings
  -elsif !defined?(@unlistings)
    %p Please select a category above.
  -else
    %p Sorry, there are currently no unlistings in that category.

