-provide(:title, 'Browse')

//Code for Browsing Unlist Categories & Areas & Search Front Page quicksearch should link here for results if user is not logged in. Should link similarly, but with more tailored info if user is logged in.
#browse
  %h2 Browse Unlist
  %p Add some links here for browsing Cities, categories, etc.
