-provide(:title, 'Contact Us')

// Code for the Unlist.it Contact Section
#contact.row.col-xs-8.col-xs-offset-1.well
  %h2 Contact Us!
  %p We are real people trying to provide a real service to to other real people.
  %p We hope your experience is a good one, and we'd like to hear about how it is working (or not working) for you! Whatever you write will be read by us.
  %br
  %p Please use the form below if you have any suggestions, useful ideas, comments, or problems. Whatever you deem is worth your time to convey, we deem is worth our while to read.
  %br
  %br

  =bootstrap_form_for @message do |f|
    =f.text_area :content, label: "Leave us a message:", size: "15x10"
    -if !signed_in?
      =f.text_field     :contact_email, label: "Email address:"
      =recaptcha_tags    ajax: true, theme: 'white'
      =hidden_field_tag :contact, "true"
    =f.submit "send", class: 'btn btn-primary'

