-provide(:title, 'Contact Us')

// MAYBE IN CAN USE ACTIONMAILER HER FOR IN-PAGE EMAIL FORM

// Code for the Unlist.it Contact Section
#contact.row.col-xs-8.col-xs-offset-1.well
  %h2 Contact Us!
  %p We are real people trying to provide a real service to to other real people.
  %p We hope your experience is a good one, and we'd like to hear about how it is working (or not working) for you! Whatever you write will be individually read by us.
  %br
  %p Please use the form below if you have any suggestions, useful ideas, comments, or problems. Whatever you deem is worth your time to convey, we deem is worth our while to read.

  %h3.text-muted
    [feature to come]
  %p.text-muted This will be a form for outside users to send messages to Unlist.it
  %p.text-muted This form will require an email address & will use Capcha to help filter out Spam messages.
