-provide(:title, 'Contact Us')

// MAYBE IN CAN USE ACTIONMAILER HER FOR IN-PAGE EMAIL FORM

// Code for the Unlist.it Contact Section
#contact.row.col-sm-8.col-sm-offset-1.well
  %h2 Contact Us!
  %p We can't emphasize enough how much we value your feedback, because you're the ones using Unlist.it the most!!
  %p That makes you our best testers. Surely, you know what you think is working well, what you wish it had or could do, what parts could be better, and what things make you reach for your stress-releiver.
  %br
  %p Please use the form below if you have any suggestions, useful ideas, comments, if you find any bugs, would like to give feedback, or whatever else you deem is worth your time to convey.
