-provide(:title, 'Unlist.it')

//Code for the registration form
.row.col-sm-8.col-sm-offset-1.well
  %h4 Sorry, Your Link Has Expired.
  %hr

  %p Remember, links that require your action are only valid for a limited period of time. Feel free to apply again for a new link.
