-provide(:title, 'Unlist.it')

//Code for the registration form
.row.col-sm-8.col-sm-offset-1.well
  %h4 Sorry, this feature does not yet exist
  %hr

  %p Check back in periodically, as we do plan to add this feature as soon as we can.
