-provide(:title, 'Future Feature')

//Code for the registration form
.row.col-xs-11.col-md-8.col-xs-offset-1.well
  %h4 Sorry, this feature does not yet exist
  %hr

  %p Check back in periodically, as we do plan to add this feature as soon as we can!
