-provide(:title, 'Unlist.it')

//Getting Started Page
.row.col-xs-8.col-xs-offset-1.well
  %h2 Getting Started
  %br
  %br


  %h4.text-muted How To Begin
  %ol
    %li
      =link_to 'Sign up', signup_path, target: '_blank'
      %small.text-muted (If you've already done this, skip ahead)
    %li
      Confirm your email via the link we'll email you
      %small.text-muted (If you've already done this, skip ahead)
  %br
  %br

  %h4.text-muted Setup Your Unlist
  %ol
    %li
      Think of a bunch of stuff you're looking to buy.
      %br This will be your unlist(wishlist).
    %br
    %li
      Start Adding Unlistings - one for each thing you want
      %br
      %em (When signed in, this is found under the Unlist tab => "+add unlisting")
      %br
    %li
      Search & add your friends/family for following their unlists (wishlists)
      %br
      %em (When signed in, this is found under the Unlist tab => "friends")
    %br
    %br
  %h4.text-muted Other ways to use Unlist
  %ol
    %li Unlists of friends/family are great for finding gift ideas
    %li Search Unlist.it to see if anyone is interested in things you have to sell
    %li Search Unlist.it to track market pricing demanded by unlisters (buyers)
    %li
      If you see
      =link_to "Community Reuse", faq_path(anchor: "q7")
      unlistings in your area for stuff you no longer need, you can give it away.
      %br
      Or +add a Community Reuse unlisting of something you need.






