-provide(:title,       'Getting Started')
-provide(:description, 'How to get started on signing up and building your Unlist. ')

//Getting Started Page
.row.col-xs-8.col-xs-offset-1.well
  %h2 Getting Started
  %br
  %br


  %h4.text-muted How To Begin
  %ol
    %li
      =link_to 'Sign up', signup_path, target: '_blank'
      %small.text-muted (If you've already done this, skip ahead)
    %li
      Confirm your email via the link we'll email you
      %small.text-muted (If you've already done this, skip ahead)
  %br
  %br

  %h4.text-muted Setup Your Unlist
  %ol
    %li
      Think of something you would like to find to buy.
    %li
      Under the "Unlistings" tab, click "+add unlisting" and create your unlisting.
  %br
  %br

  %h4.text-muted Follow Family & Friends
  %ol
    %li
      Under the Unlistings tab, click "friends".
    %li
      Search & add your friends/family for following their unlists (wishlists)
      %em (you must know their exact email to find them)
  %br
  %p These are the basics. Remember that keywords in your unlistings are what will be searched for. Also, adding a webpage link to your unlisting enables you to conveniently choose a picture from that webpage for display. Selecting "protected" will keep unlistings from showing up in public searches & browse. In your profile, you can change your profile picture, username, your default location, etc. Have fun!
  %br
  %br

  %h4.text-muted Other ways to use Unlist
  %ol
    %li Unlists of friends/family are great for finding gift ideas
    %li Have things to sell? Search Unlist.it to see if anyone is looking for your things.
    %li Search Unlist.it to track market pricing demanded by unlisters (buyers)
    %li
      If you see
      =link_to "Community Reuse", faq_path(anchor: "q7")
      unlistings in your area for things you no longer need, you can give them away.
      %br
      Or +add a Community Reuse unlisting of something you need.






