-provide(:title, 'Home')

//Code for the quick-search bar
.row
  //RESPONSIVE TEST

  -unless signed_in?
    #signup.col-xs-12.col-sm-6.col-md-4
      =link_to signup_path do
        %h1
          %strong
            Looking for something?
            %br
            Unlist.it - Wishlist Classifieds
            %br
            //%small.unlist-blue Create a wishlist that works for you &nbsp

  #searcharea.col-xs-12.col-sm-10.col-md-8
    =render partial: 'shared/quicksearch'
    %br

    %p.status-text.text-muted Have something to sell? Search & see if anyone is looking for it.
    //%p.status-text.text-muted="There are currently #{User.count} Unlisters looking for #{Unlisting.count} things."



