-provide(:title, 'Unlist.it')

//Code for the quick-search bar
.row
  #searcharea.col-xs-8
    =render partial: 'shared/quicksearch'
    %br

    %p.status-text.text-muted Have something to sell? Search & see if any unlisters are looking for it.
    //%p.status-text.text-muted="There are currently #{User.count} Unlisters looking for #{Unlisting.count} things."


  -unless signed_in?
    #signup.col-xs-4
      =link_to signup_path do
        %h2
          Wishlist Classifieds
          %br
          Sign Up & Make Your Wishlist
          %p
            (yep, it's free.)

  =link_to "someone", user_path(current_user.slug)
  =link_to "browse first", browse_category_path(category_id: Category.first.slug)
