-provide(:title, 'Unlist.it')

//Code for the quick-search bar
.row
  #searcharea.col-xs-8
    =render partial: 'shared/quicksearch'
    %br

    %p.status-text.text-muted="There are currently #{User.count} Unlisters looking for #{Unlisting.count} things."


  -unless signed_in?
    #signup.col-xs-4
      =link_to signup_path do
        %h2
          What are you looking for?
          %br
          Sign Up & Unlist.it today
          %p
            (yep, it's free.)

