-provide(:title, 'Unlist.co')

//Code for the quick-search bar
.row
  #quicksearch.col-sm-8
    %h3 Search Unlist
    =render partial: 'shared/quicksearch'
    %br
    %br
    %p="There are currently User.count Unlisters looking for Unpost.all.count things."
    %p
      Maybe you have some...

  //Code for the new user Sign Up section of the Page
  //-if signedin?
  //DO SOMETHING FOR SIGNED IN USERS IN BODY
  //-else
  #signup.col-sm-4
    =link_to signup_path do
      %h2
        Join the Unlist.co<span>[mmunity]</span>!
        %p
          (yep, it's free.)

