-provide(:title, 'Unlist.it')

//Code for the quick-search bar
.row
  #searcharea.col-sm-8
    %h3 Search Unlist
    %p= render partial: 'shared/quicksearch'
    %br
    %p  Your old stuff may be an unlisted treasure for someone else...
    %p="There are currently #{User.count} Unlisters looking for #{Unpost.count} things."


  //Code for the new user Sign Up section of the Page
  //-if signedin?
  //DO SOMETHING FOR SIGNED IN USERS IN BODY
  //-else
  -unless signed_in?
    #signup.col-sm-4
      =link_to signup_path do
        %h2
          What are you looking for?
          %br
          Sign Up & Unlist.it today
          %p
            (yep, it's free.)

