-provide(:title, 'About Us')

// Code for the Unlist.it About Section
#invalidaddress.row.col-xs-10.well
  %h2 Sorry, this web address appears to be invalid. :-(
  %p If you were doing something completely normal & think you received this message in error, PLEASE contact Unlist.it and let us know what happened.
  %br

  %p We really appreciate your help in making this site better!
  %br
  %br

  %p Sincerely,
  %p The Unlist.it Team
