-provide(:title, 'About Us')

// Code for the Unlist.it About Section
#invalidaddress.row.col-sm-10.well
  %h2 Sorry, this web address appears to be invalid. :-(
  %p If you were doing something completely normal & think you received this message in error, PLEASE contact Unlist.it at #{link_to "HERE", contact_path} or by sending an email to #{mail_to "info@unlist.it", "info@unlist.it"}.
  %p Please describe what you were doing when this happened (Like: "I clicked on this link at _____ page so that I could go to _____ and it gave me this error " ...or whatever you can tell us so we can try to fix it.)
  %br

  %p We really appreciate your help in making this site better & better!
  %br
  %br

  %p Sincerely,
  %p The Unlist.it Team
