-provide(:title, 'Invitation Sent')

//Invitation Successfully Sent
.row.col-xs-8.col-xs-offset-1.well
  %h4 Your invitation has been sent
  %hr

  %p ...they're lucky to have a friend like you --- and they now owe you one, so remember this next time you have that 'big favor' to ask of them. :-)
