-provide(:title, 'Unlist.it')

//Invitation Successfully Sent
.row.col-sm-8.col-sm-offset-1.well
  %h4 Your invitation has been sent
  %hr

  %p ...they're lucky to have a friend like you --- and they now owe you one, so remember this next time you have that 'big favor' to ask of them. :-)
