-provide(:title, 'Unlist.co')

//Code for the registration form
.row.col-sm-8.col-sm-offset-1.well
  %h4 Success! You've been added to our list of safe users.
  %hr
  %p We hope you enjoy finding people interested in your treaures!

  %br
  %br
  %p -The Unlist Team
