-provide(:title, 'Tour')

//Code for the Tour section for Videos & Such
#tour.row.col-xs-8.col-xs-offset-1.well
  %h2.text-muted [Future Feature]
  %p This page will likely include a photo tour of Unlist.it and a video tour as well.
