-provide(:title, 'Tour')

//Code for the Tour section for Videos & Such
#tour
  %h2Tour Unlist.co
  %p Come take a tour of what Unlist.co looks like, how it works, and what to expect from signing up.
