-provide(:title, 'Tour')

//Code for the Tour section for Videos & Such
#tour.row.col-xs-8.col-xs-offset-1.well
  %h2Tour Unlist.it
  %p Come take a tour of what Unlist.it looks like, how it works, and what to expect from signing up.
