!!! 5
%html(lang="en-US")
  %body
    %h3.text-muted= "RE: #{@unlisting.title}"
    %hr
    %p= "One of our #{@contacter}s has contacted you in regard to your unlisting."
    %br
    %br
    %br

    %p Note: You can always turn this email notification feature off in your Unlist.it account settings.
    %br

    %p Unlist.it
