!!! 5
%html(lang="en-US")
  %body
    %h3 You've Been Cordially Invited to Join Unlist
    %hr
    %p.text-muted Unlist turns community classifieds upside-down --- sellers search for buyers and everyone wins.
    %p.text-muted Unlist is a community engaged in sustainable-living through time-thrifty, local, buyer-centric classifieds.


    %br
    %p= "#{@user.username} has invited you, so feel special -- they decided you are worthy of one of their limited number of invitations."
    %p
      Unlist is currently in beta-testing and by invitation ONLY. Click the following invitation link to sign up:
      =link_to "Join Unlist.it", register_with_invite_url(@invitation.token)
    %p
      Or paste this link into your browser:
      =link_to "#{register_with_invite_url(@invitation.token)}", register_with_invite_url(@invitation.token)

    %br
    %h4
      Unlist.it was created for
      %strong BUYERS:
    %ul
      %li Convenient - no wasted hours searching - sellers find you
      %li Visible - announce exactly what you're looking for
      %li Local - connect with real sellers

    %h4
      Unlist.it was created for SELLERS to
      %strong FIND
      buyers & info:
    %ul
      %li Informative - discover interest level & prices
      %li Efficient - find buyers quickly
      %li Free - no cost to use

    %br
    %p We hope you find Unlist.it a valuable resource, a more-sustainable solution, and a conversation-piece.
    %br
    %br
    %br

    %p Sincerely,
    %p Clint Nelson, Founder of Unlist.it
