!!! 5
%html(lang="en-US")
  %body
    %h3 You've Been Cordially Invited to Join Unlist
    %hr
    %p.text-muted Unlist is based around a creative new idea of "wishlist classifieds" - a wishlist where each item acts like a local wanted-ad. We're a community engaged in sustainable-living through time-thrifty, local, wishlist classifieds.
    %br

    -if @invitation.note.present?
      %p
        %strong="#{@user.username} has also included a personal note:"
        ="\"#{ @invitation.note }\""
      %p
        %em (if you don't recognise their name & it has the form "UnlisterXXXXXXXX", you can remind them that they may want to update their username in thier profile!)

    %br
    %p
      Unlist is currently in beta-testing and by invitation ONLY. Click the following invitation link to sign up:
      =link_to "Join Unlist.it", register_with_invite_url(@invitation.token)
    %p
      Or paste this link into your browser:
      =link_to "#{register_with_invite_url(@invitation.token)}", register_with_invite_url(@invitation.token)


    %br
    %p You'll soon be posting ads(unlistings) of what you're looking for. Unlist turns community classifieds upside-down --- sellers search for buyers and everyone wins.
    %br
    %br
    %br

    %p Sincerely,
    %p Clint Nelson, Founder of Unlist.it
