!!! 5
%html(lang="en-US")
  %body
    %h3 You've Been Cordially Invited to Join Unlist.it
    %hr
    %p.text-muted Unlist.it is a growing community of people engaging sustainable-living through a faster, less-hassle version of community classifieds.

    %br
    %p= "#{@user.username} has invited you, and you should feel lucky as they have a limited number of invitations -- and decided you are worthy of one!"
    %p Unlist.it is currently in beta-testing and by-invitation-ONLY. With this invitation, you get to be one of the exclusive early-users. Click the following invitation link to sign up:
    %p= link_to "Join Unlist.it", register_with_invite_url(@invitation.token)
    %p
      Or paste this link into your browser:
      =link_to "#{register_with_invite_url(@invitation.token)}", register_with_invite_url(@invitation.token)

    %br
    %h4 Unlist.it was created for Buyers:
    %ul
      %li Convenient - no wasted hours searching - sellers find you
      %li Local - connect with real people
      %li Safe - meet at a public indoor location (great excuse for some coffee)

    %h4 Unlist.it was created for Sellers:
    %ul
      %li Informative - discover interest level & prices
      %li Efficient - find buyers quickly
      %li Free - no cost to join or sell

    %br
    %p Unlist.it turns community classifieds upside-down --- sellers search for buyers and everyone wins.
    %br
    %p We hope you find Unlist.it a valuable resource, a more-sustainable solution, and a conversation-piece.
    %br
    %br
    %br

    %p Sincerely,
    %p Clint Nelson, Founder of Unlist.it
