!!! 5
%html(lang="en-US")
  %body
    %h3="This is a confirmation email that you have changed your Unlist password"
    %hr
    %br
    %p You can reset your email anytime, so no worries if you ever forget it.
    %br
    %br
    %br

    %p If you did not reset your email, please contact us and we can get things straightened out.
    %br
    %br

    %p Sincerely,
    %p= "The Unlist Team"
