!!! 5
%html(lang="en-US")
  %body
    %h3="Below is a link to reset your password"
    %hr
    %br
    %p Clicking this link will redirect you to a page so you can choose a new password:
    %p= link_to "Pick A New Password", reset_password_url(@user.prt)

    %p If you have received this email by mistake, just disregard this and soon it will be a distant memory.
    %br
    %p If you have any questions about this email, please contact us and we'll be happy to help.
    %br
    %br
    %br

    %p Sincerely,
    %p= "The Unlist.co Team"
