!!! 5
%html(lang="en-US")
  %body
    %h3 Unlist Testing Feedback Questions
    %hr

    %p Thanks for taking the time to help me out with some outside perspective on Unlist.it! After burying my head in this program for a few months now, it's hard to see clearly. So, I really appreciate you giving critical opinions, and pointing out weakpoints.

    %ol
      %li How intuitive is Unlist.it to use?
      %br
      %li How easy is it to tell what Unlist.it is & is for?
      %br
      %li What do you NOT like about the site? Or other thoughts?
      %br
      %li What do you find confusing?
      %br
      %li What do you about the site?
      %br

    %br
    %br
    %br
    %p Thanks again for giving my your valuable insights!
    %br

    %p Clint
