!!! 5
%html(lang="en-US")
  %body
    %h3 Unlist Testing Feedback Questions
    %hr

    %p Thanks for taking the time to help me out with some outside perspective on Unlist.it! After burying my head in this program for a few months now, it's hard to see clearly. So, I really appreciate you giving critical (yes, including constructive criticism!) insights, and pointing out faults & deficiencies with this project. This is essentially my "Look what I can do!" portfolio project to help enter the programming field, since I don't have a formal degree in programming. Your feedback will help me not make as much a fool of myself, so don't hold back - the more the merrier!

    %ol
      %li How intuitive is Unlist.it to use?
      %br
      %li What are your thoughts on the layout?
      %br
      %li How easy is it to tell what Unlist.it is & is for?
      %br
      %li Thoughts on creating Unlistings?
      %br
      %li Thoughts on searching/browsing Unlistings?
      %br
      %li What do you NOT like about the site? (list as much as you want)
      %br
      %li What else do you NOT like about the site? (list as much else as you want)
      %br
      %li Anything you LIKE about the site?
      %br
      %li Any features that seem unnecessary or useless?
      %br
      %li You can tell me about any errors/breaks/flaws here or send me an email?
      %br
      %li More room for errors/breaks/flaws here!

    %br
    %p Thanks again for giving my your valuable insights on what's awful, what's bad, what could be better, and if there's anything acceptable.
    %br
    %br
    %br

    %p Many Thanks!
    %p Clint
