!!! 5
%html(lang="en-US")
  %body
    %h3="Thank you for registering to join Unlist.it!"
    %br= "We need to confirm that you're a real person. You can do so by clicking the link below."
    %hr
    %br
    %p Click this link and your registration will be complete:
    %p= link_to "#{userconfirmation_url(@user.tokens.first.token)}", userconfirmation_url(@user.tokens.first.token)
    %br

    %p (Alternatively, you can paste that link into your browser address bar)

    %br

    %br
    %br
    %br

    %p Sincerely,
    %p= "The Unlist.it Team"
