!!! 5
%html(lang="en-US")
  %body
    %h3 Welcome to the Unlist.it community!
    %hr
    %p Yep, you're real, and now you're officially IN!
    %p That small flurry of emails is the most you'll hear from us.
    %p (please don't respond to this email - it doesn't go anywhere, so we'll never get it!)
    %br
    %br

    %p Now you can help Unlist.it work for you.
    %p As you use Unlist, you'll save time by avoiding unnecessary searching while having increased success being found for what you're looking for - directly by those who have it.

    %br
    %br
    %br
    %br

    %p Sincerely,
    %p The Unlist.it Team
