!!! 5
%html(lang="en-US")
  %body
    %h3="Welcome to the Unlist.it community, #{@user.username}!"
    %hr
    %p "Thanks for being a real person - you are now officially IN!"

    %br
    %p Now you can use Unlist.it to your heart's desire.
    %p We hope that as you use Unlist, you'll save time by avoiding unnecessary searching while having increased success finding what you're looking for - directly through those who have it.

    %br
    %h5 Unlist.it was created to:
    %ul
      %li Be convenient - no search time (only an unlisting)
      %li Be superior - we give you an edge (others find you)
      %li Be local - connect with real people
      %li Be safe - meet at a public indoor location
    %br
    %br
    %br
    %br

    %p Sincerely,
    %p= "The Unlist.it Team"
