!!! 5
%html(lang="en-US")
  %body
    %h3 Welcome to the Unlist.it community!
    %hr
    %br
    %p Now you can help Unlist.it work for you.
    %p The unlistings you make will expand your unlist(wishlist) - enabling sellers to find you & sell you what you want. It also serves as a great resource for friends/family to figure out that perfect gift for you!
    %br
    %br
    %br
    %br
    %p Sincerely,
    %p The Unlist.it Team

    %br
    %p (please don't respond to this email - it doesn't go anywhere, so we'll never get it!)
