!!! 5
%html(lang="en-US")
  %body
    %h3="Welcome to the Unlist.it community!"
    %hr
    %p "Thanks for being a real person - you are now officially IN!"

    %br
    %br
    %p That small flurry of emails is the most you'll hear from us for a long time.
    %p While we may not contact you often, feel free to contact us through our site & let us know how it's going! (please don't respond to this email - it doesn't go to us, so we'll never get it!)


    %p Now you can use Unlist.it to your heart's desire.
    %p We hope that as you use Unlist, you'll save time by avoiding unnecessary searching while having increased success finding what you're looking for - directly through those who have it.

    %br
    %br
    %br
    %br

    %p Sincerely,
    %p= "The Unlist.it Team"
