.row#adminbox.col-xs-8
  #adminboxcontent.well
    %h3 All Invitations
    %hr.hr-med-solid
    %br
    -@invitations.each do |invitation|
      %p= "To: #{invitation.recipient_email}"
      %p= "By: #{invitation.sender.username}"
      %hr
