-provide(:title, '')

//Feedback on Questionaire
#settingsbox.row.col-xs-8.col-xs-offset-1
  #editsettings.well.clearfix
    %h3.text-muted Welcome Alpha Testers!
    %hr.hr-lg-dashed

    %h4.text-muted Unlist.it ALPHA
    %p Thanks for your help with my portfolio project! Whatever you don't like is an opportunity for me to improve, but I need your feedback to pinpoint those areas.
    %hr


    %h4.text-muted Upcoming Features
    %p Unlist.it is still "in the works", but here are some of my plans for it.
    %ul
      %li SSL encryption security
      %li Private vs. Public Unlistings
      %li Flagging Users, Messages, & Unlistings that are: spam, not allowed, etc.
      %li
        Blocking Users:
        %ul
          %li Don't like some guy contacting you? Block him for good.
          %li Don't want to see that user's unlistings? Block them from showing up on your searches.
      %li Custom searches (by title, price, etc.) (currently just keywords)
    %hr


    %h4.text-muted General Feedback
    %p
      This questionaire can be edited & updated at any time. If you prefer an email of this questionaire,
      =link_to "clicking here will send the questionaire to you via email.", user_email_questionaire_path(current_user)
      OR, if you just want to email me your insights without a questionaire, please email me directly at:
      %strong info.unlist.it@gmail.com
    %p Thank you for your help!!
    %br
    %br
    %p
      %strong
        1 = Lowest Score &nbsp ---> &nbsp 5 = Highest Score


    =bootstrap_form_for [@user, @questionaire] do |f|
      %ol
        %li How intuitive is Unlist.it to use?
        =render partial: 'radio_scale', locals: { f: f, questionaire: @questionaire, name: "intuitive_scale" }
        %p Comments:
        =f.text_area :intuitive,         hide_label: true, size: "15x2"

        %li Is it clear what Unlist.it is for?
        =render partial: 'radio_scale', locals: { f: f, questionaire: @questionaire, name: "purpose_scale" }
        %p Comments:
        =f.text_area :purpose,           hide_label: true, size: "15x2"

        %li How has your experience navigating the site been?
        =render partial: 'radio_scale', locals: { f: f, questionaire: @questionaire, name: "layout_scale" }
        %p Comments:
        =f.text_area :layout,            hide_label: true, size: "15x2"

        %li How has the experience of creating Unlistings been?
        =render partial: 'radio_scale', locals: { f: f, questionaire: @questionaire, name: "making_unlistings_scale" }
        %p Comments:
        =f.text_area :making_unlistings, hide_label: true, size: "15x2"

        %li How is the overall experience of using Unlist.it?
        =render partial: 'radio_scale', locals: { f: f, questionaire: @questionaire, name: "notlike1_scale" }
        %p Comments:
        =f.text_area :notlike1,          hide_label: true, size: "15x2"

        %li Do you see yourself continuing to use Unlist.it now & as it gains users?
        =render partial: 'radio_scale', locals: { f: f, questionaire: @questionaire, name: "keepit_scale" }
        %p Comments:
        =f.text_area :keepit,            hide_label: true, size: "15x2"

        %li Other comments or thoughts?
        =f.text_area :notlike2,            hide_label: true, size: "15x2"

        =f.submit "Save Feedback", class: "btn btn-primary pull-right"



















