-provide(:title, '')

//Feedback on Questionaire
#settingsbox.row.col-xs-8.col-xs-offset-1
  #editsettings.well.clearfix
    %h3.text-muted Welcome Alpha Testers!
    %hr.hr-lg-dashed

    %h4.text-muted Unlist.it ALPHA
    %p Thanks for your help with my portfolio project! Whatever you don't like is an opportunity for me to improve, but I need your feedback to pinpoint those areas.
    %hr


    %h4.text-muted Upcoming Features
    %p Unlist.it is still "in the works", but here are some of my plans for it.
    %ul
      %li SSL encryption security
      %li Private vs. Public Unlistings
      %li Flagging Users, Messages, & Unlistings that are: spam, not allowed, etc.
      %li
        Blocking Users:
        %ul
          %li Don't like some guy contacting you? Block him for good.
          %li Don't want to see that user's unlistings? Block them from showing up on your searches.
      %li Custom searches (by title, price, etc.) (currently just keywords)
    %hr


    %h4.text-muted General Feedback
    %p
      This questionaire can be edited & updated at any time. If you prefer an email of this questionaire,
      =link_to "clicking here will send the questionaire to you via email.", user_email_questionaire_path(current_user)
      OR, if you just want to email me your insights without a questionaire, please email me directly at:
      %strong info.unlist.it@gmail.com
    %p Thanks again for your help!
    %br

    =bootstrap_form_for [@user, @questionaire] do |f|
      %ol
        %li How intuitive is Unlist.it to use?
        =f.text_area :intuitive,         hide_label: true, size: "15x4"
        / %li What are your thoughts on the layout?
        / =f.text_area :layout,            hide_label: true, size: "15x4"
        %li How easy is it to tell what Unlist.it is & is for?
        =f.text_area :purpose,           hide_label: true, size: "15x4"
        / %li Thoughts on creating Unlistings?
        / =f.text_area :making_unlistings, hide_label: true, size: "15x4"
        / %li Thoughts on searching/browsing Unlistings?
        / =f.text_area :search_browse,     hide_label: true, size: "15x4"
        %li What do you NOT like about the site? Or other thoughts?
        =f.text_area :notlike1,          hide_label: true, size: "15x4"
        %li What do you find confusing about the site?
        =f.text_area :notlike2,          hide_label: true, size: "15x4"
        %li What do you like about the site?
        =f.text_area :keepit,            hide_label: true, size: "15x4"
        / %li Any features that seem unnecessary or useless?
        / =f.text_area :junkit,            hide_label: true, size: "15x4"
        / %li You can tell me about any errors/breaks/flaws here or send me an email?
        / =f.text_area :breaks1,           hide_label: true, size: "15x4"
        / %li More room for errors/breaks/flaws here!
        / =f.text_area :breaks2,           hide_label: true, size: "15x4"

        =f.submit "Save Feedback", class: "btn btn-primary pull-right"





















