-provide(:title, '')

//Code for the quick-search bar
.row
  #quicksearch.col-xs-8
    %h3 Search Unlist
    =render partial: 'shared/quicksearch'
    %br
    %br
    %p="There are currently User.count Unlisters looking for Unlisting.all.count things."
    %p
      Maybe you have some...


  #signup.col-xs-4
    %h2
      Join the Unlist.it community!
      %p (yep, it's free.)
    %ul
      %li
        %label.control-Label Email
        %input(type="email")
      %li
        %label.control-Label Password
        %input(type="password")
      %li
        %input(type='submit' value='Sign Up' class='btn btn-default')

