=form_tag search_radius_path, {method: 'post', remote: true } do
  =text_field_tag :radius
  %span miles
  =submit_tag "Update", class: "btn btn-primary btn-sm modal-close"

=link_to "[remove radius]", remove_radius_path, { method: 'get', remote: true, class: 'modal-close' }
