-# PAGINATED Unlistings-Search VIA JS/RAILS-AJAX
$('.infinite-search-results').append(" #{ escape_javascript( render partial: 'unlistings/unlisting', collection: @search_results, as: :unlisting ) } ");

$('a.infinite-load-post').attr('href', "#{ search_unlistings_path(category_id: @search_category, keyword: @search_string, page: @search_results.next_page) } ");

-unless @search_results.next_page
  $('a.infinite-load-post').remove();
