-provide(:title, '')

//Settings Updates for Application
#settingsbox.row.col-xs-8.col-xs-offset-1
  #editsettings.well.clearfix
    %h4.text-muted Edit Unlist Settings
    %br
    %p CURRENTLY, THERE ARE NO SETTINGS TO EDIT....
    / =bootstrap_form_for [:admin, @setting], layout: :horizontal, label_col: 'col-xs-3', control_col: 'col-xs-6' do |f|
    /   / =f.text_field :invites_ration
    /   / =f.text_field :invites_max
    /   =f.submit "Save Updates", class: "btn btn-primary pull-right"
