=bootstrap_form_for [:admin, category], layout: :horizontal, label_col: 'col-sm-3', control_col: "col-sm-6" do |f|
  =f.text_field :name, label: "Category Name"
  =f.submit "#{button_name}", class: "btn btn-primary"
