.row#adminbox.col-xs-8
  #adminboxcontent.well
    %h4 Create A New Category
    %br
    %ul#addcategory
      =render partial: 'category_form', locals: { category: @category, button_name: 'Add Category' }
