*
  margin: 0

html, body
  height: 100%
  width: 100%



//Horizontal Rule Types
.hr-lg-solid
  border: 2px solid white
.hr-lg-dashed
  border: 2px dashed white
.hr-med-solid
  border: 1.5px solid white
.hr-sm-solid
  border: 1px solid white

.alert
  padding: 2px 15px 2px 15px

.green-color
  color: #52CC29
.red-color
  color: red
.unlist-blue
  color: #336699
.unlist-green
  color: #00FF00

.forgotpasswords-form, .resetpassword-form
  #password
    width: 200px
  #email
    width: 200px
  .btn
    margin-left: 20px

//Default Gravatar & Avatar Sizing
.gravatar .avatar
  display: inline
  height: auto
  max-height: 60px
  max-width:  60px
  width: auto

.underlined-link
  text-decoration: underline

.thumbnail-80
  display: inline
  height: auto
  max-height: 80px
  max-width:  80px
  width: auto

.generic-content
  margin-top: 3em

.list-no-bullet
  list-style: none

.modal-form
  span
    margin-right: 20px

.wrapper
  height: auto !important
  height: 100%
  margin: 0 auto //-4em
  min-height: 100%
  padding: 90px 0 30px 0

#invalidaddress
  margin: 3em 0 2em 4em
  p
    font-size: 1.5em

