*
  margin: 0

html, body
  height: 100%
  width: 100%


//Breadcrumb for unposts
.breadcrumb
  margin-left: 2em

//Horizontal Rule Types
.hr-lg-solid
  border: 2px solid white
.hr-lg-dashed
  border: 2px dashed white
.hr-med-solid
  border: 1.5px solid white
.hr-sm-solid
  border: 1px solid white

.alert
  padding: 2px 15px 2px 15px

.forgotpasswords-form, .resetpassword-form
  #password
    width: 200px
  #email
    width: 200px
  .btn
    margin-left: 20px


.generic-content
  margin-top: 3em

.wrapper
  height: auto !important
  height: 100%
  margin: 0 auto //-4em
  min-height: 100%
  padding: 90px 0 30px 0

#invalidaddress
  margin: 3em 0 2em 4em
  p
    font-size: 1.5em

#searchbox
  margin: 0em 0 2em 3em

