$unlistcolor: #336699

=navbar_linkstyle($color)
  border: 2px solid
  border-color: $color
  border-radius: 2px
  color: #000000
  display: inline
  list-style-type: none
  margin: 0px 0px 0px 1%
  padding: 5px 10px 5px 10px
  position: relative
  text-decoration: none
  top: 60%

#headerbar
  background-color: #aaaaaa
  border-bottom-left-radius: 8px
  border-bottom-right-radius: 8px
  height: 90px
  left: 0.75%
  min-width: 960px
  position: absolute
  top: 0%
  width: 98.5%
  z-index: 5
  #unlistheadericon
    color: $unlistcolor
    font-size: 52px
    margin-left: 10px
    margin-top: 10px
    padding-top: 12px
    position: relative
    float: left
    text-decoration: none
    a, a:visited
      color: $unlistcolor
      text-decoration: none
  .navbarlink
    height: 90px
    padding-left: 0px
    a, a:visited
      @include navbar_linkstyle(#aaaaaa)
    a:hover
      @include navbar_linkstyle(white)
  #unlistuserbox
    border-left: 2px solid
    border-color: #dddddd
    display: inline
    float: right
    font-size: 12px
    height: 90px
    list-style-type: none
    margin-right: -14px
    position: relative
    right: 1%
    text-align: right
    width: 270px
    z-index: 5
    img
      float: left
    // Overriding the Bootstrap classes for login form
    .form-group
      margin: 5px 0 0 0
      input
        width: 175px
    .btn
      bottom: 5px
      height: 23px
      margin: 0
      padding: 0
      position: absolute
      right: 0
      width: 50px
