///////////////////////////// BROWSE ///////////////////////////////
#browse-title
  margin-left: 2em
  .scrollable-menu
    height: auto
    max-height: 150px //NEED A VARIABLE SOLUTION TO MATCH THE PAGE HEIGHT
    overflow-x: hidden
    overflow-y: scroll

#browse-categories-dropdown
  display: inline
  list-style-type: none
  position: relative

#browse-unlistings
  margin-left: 2em
  margin-top: 0.5em

