//NON-Page-Specific Search Styling
.modal-content
  position: absolute
  left: 10%
  top:  30%

#searchbox
  margin: 0em 0 2em 3em

#options-box
  border: 2px solid gray
  border-radius: 8px
  display: relative
  margin-bottom: 5px
  padding: 5px

#searchradiussubmit
  display: inline-block

#home-search-title
  margin-bottom: 0px

.searchform
  margin-top:   10px
  padding-left:  0px
  .search-button
    margin-bottom: 3px
    padding: 3px 8px 3px 8px

#searcharea
  .status-text
    clear: both
    font-size:    11.5px
    padding-left: 20px

