
///////////////////////////// General for Unposts /////////////////////////
.buyer-info
  img, a
    padding-right: 18px
  p
    margin-bottom: 2em

///////////////////////////// Unpost Posting //////////////////////////////
#userboxcontent
  .unpost-keywords
    li
      display: inline
  .unpost-top-details
    list-style-type: none
#unimage-dropzone
  text-align: center
  vertical-align: middle

.unpost-box       //for unposts rendering in unposts partial
  overflow: auto
  .well
    background-color: rgba(249, 255, 249, 1)

.response-box     //for responses rendering in partial
  padding-top: 5px
  .response-message
    span
      float: right

.hideshow-response
  color: #52CC29

/////////////////////// CONTACT BUYER MESSAGE FORM ///////////////////////
.contactbuyer
  .gravatar
    clear: both
    float: right
  .messageform

///////////////////////////// Unpost Search //////////////////////////////
#searchbox
  #category-heading
    text-align: center
