-provide(:title, '')

//Code for list of users

.row#userbox.col-sm-8
  %ul.nav.nav-tabs.col-sm-5-offset-1
    %li.active
      =link_to "Manage Users", admin_users_path(current_user)
    %li
      =link_to "User Messages", '#'
  #alluserslistcontent.well
    =render @users
