-# For use on User's Unlist pages
-# Rendering First Response. Variables avail: "message" and "unpost" available.
%li
  .response-box.col-xs-9.well
    .response-message.reply-form-listener
      %h5
        -#decorator for display_contact would be nice
        -if message.contact_email.present?
          =message.contact_email
        -else
          =link_to message.sender.username, user_path(message.sender)
          %span
            -# Button to show the reply form
            = link_to "reply", "#show-form", class: "reply-form-show"
      %p= message.content
      %small= "#{time_ago_in_words(message.created_at)} ago"
      %hr

      -# Only load reply form if sender was Unlist user
      -if message.contact_email.blank? && signed_in?
        =render partial: 'shared/reply_form', locals: { message: message }

      -# When Message Has Replies, show them:
      -if message.replies.present?
        =render partial: 'shared/reply', collection: message.replies, as: :reply
        -#.order('created_at DESC')

