-provide(:title, '')

//Code for the quick-search bar
.row
  #usersearch.col-sm-8
    =render partial: 'shared/quicksearch'

.row#userbox.col-sm-8
  %ul.nav.nav-tabs.col-sm-5-offset-1
    %li.active
      =link_to "My Unlist", user_unlist_path(current_user)
    %li
      =link_to "Add Unpost", new_user_unpost_path(current_user)
    %li
      %a(href="") My Unwatch*
    %li
      =link_to "My Hits",
  //.row
  #userboxcontent.well
    #unlist
      -if @unposts.present?
        =render @unposts
      -else
        [ You currently have no unposts - click #{link_to "here", new_user_unpost_path} to create one ]
