-provide(:title, '')

.row#userbox.col-sm-8
  #userboxcontent.well
    #unlist
      -if @unposts.present?
        =render @unposts
      -elsif params[:type] == "hits"
        [You currently have no hits on your unposts. You can visit the
        =link_to "FAQ", faq_path
        if you would like some hints on making your unposts more easily found by sellers.]"
      -elsif params[:type] == "unlist"
        [ You currently have no unposts - click #{link_to "here", new_user_unpost_path} to create one ]

