/ Code for the Unlist.it Header & Icon
#headerbar.container
  .row
    .col-xs-3#unlisticonbox
      -if signed_in? && current_user.role == ("alpha" || "beta")
        =link_to "ALPHA", edit_user_questionaire_path(current_user, 1), class: 'unlist-version' #path to questionaire
      -else
        %h6.unlist-version ALPHA
      %h1#unlistheadericon
        =link_to 'Unlist.it', root_path
        / Login/User Box Located In Header (Right Side)
    .col-xs-6
      / Code for the header bar navigation links
      .navbarlink
        =render 'layouts/navbarlinks'
    .col-xs-3
      #unlistuserbox
        -if signed_in?
          =link_to user_path(current_user) do
            =current_user.decorator.avatar_image_tag(55)
          %p=link_to "#{current_user.username.capitalize}", edit_user_path(current_user)
          =link_to "signout", signout_path, class: "btn btn-default btn-small"
        -else
          =form_tag sessions_path do |f|
            .form-group
              =label_tag          :email
              =email_field_tag    :email
            .form-group
              =label_tag          :password
              =password_field_tag :password
            #forgotpassword= link_to 'forgot password', forgot_password_path
            =submit_tag "sign in", class: 'btn btn-default btn-small'
