/ Code for the Unlist.co Header & Icon
#headerbar.container
  .row
    .col-xs-3
      %h1#unlistheadericon
        =link_to 'Unlist.co', root_path
        / Login/User Box Located In Header (Right Side)
    .col-xs-5
      / Code for the header bar navigation links
      .navbarlink
        =render 'layouts/navbarlinks'
    .col-xs-4
      #unlistuserbox
        -if signed_in?
          =link_to user_path(current_user) do
            =gravatar_image(current_user, 80)
          %p=link_to "#{current_user.username.capitalize}", user_path(current_user)
          %p=link_to 'Account Settings', user_path(current_user)
          =link_to "signout", signout_path, class: "btn btn-default btn-small"
        -else
          =form_tag sessions_path do |f|
            .form-group
              =label_tag          :email
              =email_field_tag    :email
            .form-group
              =label_tag          :password
              =password_field_tag :password
            =submit_tag "sign in", class: 'btn btn-default btn-small'
