/ Code for the Unlist.co Header & Icon
#headerbar.container
  .row
    .col-xs-3
      %h1#unlistheadericon
        Unlist.co
        / =link_to 'Unlist.co', root_path
        / Login/User Box Located In Header (Right Side)
    .col-xs-5
      / Code for the header bar navigation links
      .navbarlink
        /=render 'layouts/navbarlinks'
        %a(href="") Browse
        %a(href="") Tour
        %a(href="") FAQ
        %a(href="") About
        %a(href="") Contact
    .col-xs-4
      %ul#loginbox
        %li
          %label.control-Label Email
          %input(type="email")
        %li
          %label.control-Label Password
          %input(type="password")
        %li
          %input(type='submit' value='sign in' class='btn btn-default btn-xs')
      /If logged in: Load User's Profile w/Logout link.

      / -if signedin?
      /   %p=link_to gravatar_image(current_user), current_user
      /   %h3=link_to current_user.name, current_user %> </h3>
      /   %p= link_to "Account Settings", edit_user_path(current_user)
      /   =button_to('Logout', logout_path, method: 'delete')

      / / If not logged in: Load Login Form
      / -else
      /   / =render 'layouts/loginform'
      /   =form_tag(sessions_path, method: 'post') do
      /     %p
      /       Email:
      /       =text_field_tag 'session_email'
      /     %p
      /       Password:
      /       =password_field_tag 'session_password'
      /       =link_to('Forgot Password', forgotpass_path)
      /     = submit_tag "Login"



