//Error Messages Should Go In Here
-flash.each do |type, msg|
  %div(class="alert #{bootstrap_class_for(type)}")
    .a.close(data-dismiss='alert') &#215;
    =content_tag :div, msg, id: "flash_#{type}" if msg.is_a?(String)
