/-#///////////////////// ADMIN DROPDOWN MENUS ///////////////////////////
-if (signed_in? && current_user.admin?)
  .dropdown#navbutton-admin-users
    %a.btn.dropdown-toggle.sr-only(data-toggle='dropdown')
      Users
      %span.caret
    %ul.dropdown-menu(role='menu' aria-labelledby='AdminUsersMenu')
      %li(role='presentation')
        =link_to "manage users",  admin_users_path(current_user), { role: 'menuitem', tabindex:"-1" }

  .dropdown#navbutton-admin-components
    %a.btn.dropdown-toggle.sr-only(data-toggle='dropdown')
      Components
      %span.caret
    %ul.dropdown-menu(role='menu' aria-labelledby='AdminComponentsMenu')
      %li(role='presentation')
        =link_to "add category",  new_admin_category_path, { role: 'menuitem', tabindex: "-1" }
      %li(role='presentation')
        =link_to "add condition", new_admin_condition_path, { role: 'menuitem', tabindex: "-1" }
      %li(role='presentation')
        =link_to "view all",      admin_categories_path, { role: 'menuitem', tabindex: "-1" }

  .dropdown#navbutton-admin-messages
    %a.btn.dropdown-toggle.sr-only(data-toggle='dropdown')
      Messages
      %span.caret
    %ul.dropdown-menu(role='menu' aria-labelledby='AdminMessagesMenu')
      %li(role='presentation')
        =link_to 'inbox', user_messages_path(current_user, type: 'received'), { role: 'menuitem', tabindex: "-1" }
      %li(role='presentation')
        =link_to 'sent',  user_messages_path(current_user, type: 'sent'), { role: 'menuitem', tabindex: "-1" }
      %li(role='presentation')
        =link_to 'all',  user_messages_path(current_user), { role: 'menuitem', tabindex: "-1" }

  / .dropdown#navbutton-admin-blog
  /   %a.btn.dropdown-toggle.sr-only(data-toggle='dropdown')
  /     Blog
  /     %span.caret
  /   %ul.dropdown-menu(role='menu' aria-labelledby='AdminBlogMenu')
  /     %li(role='presentation')
  /       =link_to '#', { role: 'menuitem', tabindex: "-1" } do
  /         %i.icon-plus
  /         New Post
  /     %li(role='presentation')
  /       =link_to "view posts", '#', { role: 'menuitem', tabindex: "-1" }


  /-#////////////////////// USER DROPDOWN MENUS /////////////////////////
-elsif signed_in?
  %div= link_to 'Browse',    browse_path, { role: 'menuitem', tabindex: "-1" }

  .dropdown#navbutton-user-unlist
    %a.btn.dropdown-toggle.sr-only(data-toggle='dropdown')
      Unlist
      %span.caret
    %ul.dropdown-menu(role='menu' aria-labelledby='UserUnlistMenu')
      %li(role='presentation')
        =link_to "my unlist", user_unlist_path(current_user, type: 'unlist'), { role: 'menuitem', tabindex: "-1" }
      %li(role='presentation')
        =link_to new_user_unpost_path(current_user), { role: 'menuitem', tabindex: "-1" } do
          %i.glyphicon.glyphicon-plus
          add unpost
      %li(role='presentation')
        =link_to 'hits',  user_unlist_path(current_user, type: 'hits'), { role: 'menuitem', tabindex: "-1" }
      %li(role='presentation')
        =link_to "watchlist", futurefeature_path, { role: 'menuitem', tabindex: "-1" }

  .dropdown#navbutton-user-unlist
    %a.btn.dropdown-toggle.sr-only(data-toggle='dropdown')
      Messages
      %span.caret
    %ul.dropdown-menu(role='menu' aria-labelledby='UserUnlistMenu')
      %li(role='presentation')
        =link_to 'inbox', user_messages_path(current_user, type: 'received'), { role: 'menuitem', tabindex: "-1" }
      %li(role='presentation')
        =link_to 'hits',  user_messages_path(current_user, type: 'hits'), { role: 'menuitem', tabindex: "-1" }
      %li(role='presentation')
        =link_to 'sent',  user_messages_path(current_user, type: 'sent'), { role: 'menuitem', tabindex: "-1" }
      %li(role='presentation')
        =link_to 'all',  user_messages_path(current_user), { role: 'menuitem', tabindex: "-1" }

  .dropdown#navbutton-user-unlist
    %a.btn.dropdown-toggle.sr-only(data-toggle='dropdown')
      Profile
      %span.caret
    %ul.dropdown-menu(role='menu' aria-labelledby='UserUnlistMenu')
      %li(role='presentation')
        =link_to "profile",      user_path(current_user), { role: 'menuitem', tabindex: "-1" }
      %li(role='presentation')
        =link_to "edit profile", edit_user_path(current_user), { role: 'menuitem', tabindex: "-1" }


  /-#///////////////////// GUEST DROPDOWN MENUS /////////////////////////
-else
  #navbuttons-guest
    =link_to 'Browse',    browse_path
    =link_to 'Tour',      tour_path
    =link_to 'About',     about_path
    =link_to 'FAQ',       faq_path
    =link_to 'Contact',   contact_path
