!!! 5
%html
  %head
    %title Unlist.co
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    //-#Include JQUERY here?
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags
    =render 'layouts/shim'  #shim for IE
  %body
    %header
      =render 'layouts/header'
    .wrapper.container-fluid
      #error-messages
      =render 'layouts/messages'
      =yield
    %footer
      =render 'layouts/footer'

