-if @conditions
  $("#unlisting_condition_select").html("#{escape_javascript( options_from_collection_for_select(@conditions, :id, :level) )}")
-else
  alert("Please select a Category, then a Condition.")


